/* fit to screen, black */
body
{
	background-color:black;
	margin:0px;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
}

/* flip container */
.flipContainer
{
	position:relative;
	width:100%;
	height:100%;
	background-color:black;
}

.flipElement
{
	position: absolute;
	width:100%;
	height:100%;
	backface-visibility: hidden;
	transform:rotateY(180deg);
}

.flipAnimation
{
	transition: transform 0.4s ease-out;
	transform-style: preserve-3d;
}

.flipFront
{
	transform:rotateY(0deg);
	z-index: 2;
}

.flipButton
{
	display:inline-block;
	background-color:black;
	text-align:center;
	color:white;
	width:100%;
	font: 60px 'Arial';
}

.menuBar
{
	display:inline-block;
	border:0px solid;
	text-align:center;
	color:white;
	width:100%;
	font: 40px 'Arial';
	height: 60px;
	padding-top:10px;
}

.inputBox
{
	text-align:center;
	color:white;
	width:100%;
	font: 40px 'Arial';

	background-color:transparent;
	border:0px solid;
	outline: none
}
.inputBox:focus { 	outline: none; }
.inputBox::-webkit-input-placeholder { color:white; }
.inputBox:focus::-webkit-input-placeholder { color:transparent; }


/* each page */

#page1 { background-color:#9b58b5 }
#page2 { background-color:#9b58b5 }
#page3 { background-color:#9b58b5 }
#page4 { background-color:#9b58b5 }
#page5 { background-color:#9b58b5 }
